<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chem.Dle</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script async src="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.14.0/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.119.1/build/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
  </head>
  <body>
    <section class="hero is-light is-fullheight">
      <div class="hero-head">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" style="background-color: #fff!important;">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="/image/logo.svg" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
            
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/">
                메인
              </a>
              <a class="navbar-item" href="/about.html">
                대하여
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body" id="app">
        <div class="columns is-vcentered" style="width: 100vw;">
          <div class="column is-8">
            <div class="box">
                <div class="columns is-centered">
                  <canvas class="column is-11" id="main-canvas" style="border-radius: 1rem;"></canvas>
                </div>
                <div class="buttons are-medium is-centered has-addons">
                  <button class="button">
                    <span class="icon">
                      <i class="fas fa-step-backward"></i>
                    </span>
                  </button>
                  <button class="button">
                    <span class="icon">
                      <i class="fas fa-backward"></i>
                    </span>
                  </button>
                  <button class="button">
                    <span class="icon">
                      <i class="fas fa-play"></i>
                    </span>
                  </button>
                  <button class="button">
                    <span class="icon">
                      <i class="fas fa-forward"></i>
                    </span>
                  </button>
                  <button class="button">
                    <span class="icon">
                      <i class="fas fa-step-forward"></i>
                    </span>
                  </button>
                </div>
            </div>
          </div>
          <div class="column is-4">
            <nav class="panel">
              <p class="panel-heading">
                물질
              </p>
              <div class="panel-block">
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="검색">
                  <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </p>
              </div>

              <div v-for="(substance, index) in substances" class="panel-block">
                <span class="panel-icon">
                  <i class="fas fa-square" aria-hidden="true"></i>
                </span>
                <div class="columns is-multiline mb-0">
                <span class="column is-full pb-0">{{substance.name}} (<span v-html="formatMolecularFormula(substance.formula)"></span>, {{ substance.mw }} g/mol)</span>
                <div class="field has-addons column is-5 py-1">
                  <p class="control">
                    <a class="button is-static">
                      분자 수
                    </a>
                  </p>
                  <p class="control">
                    <input v-model="substance.qty" class="input" type="number" min="0" placeholder="">
                  </p>
                  
                </div>
                </div>
                <button v-on:click="removeSubstanceByIndex(index)" class="button is-rounded is-light" style="margin-left: auto">
                  <span class="icon">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </div>
              <div v-if="substances.length == 0" class="panel-block has-text-centered justify-content-center">
                <span class="is-italic py-2 has-text-grey">물질이 없습니다</span>
              </div>

              <div class="panel-block">
                  <button v-on:click="openMetaSelectModal" class="button is-link is-outlined is-fullwidth">
                    <span class="icon is-small">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span>물질 선택하기</span>
                  </button>
              </div>
              <div class="panel-block">
                <button v-on:click="removeAllSubstances" class="button is-link is-outlined is-fullwidth">
                  <span class="icon is-small">
                    <i class="fas fa-trash"></i>
                  </span>
                  <span>모두 지우기</span>
                </button>
              </div>
            </nav>
          </div>
        </div>
        <div class="modal-root">
          <div id="meta-select-modal" class="modal" v-bind:class="{ 'is-active': modalActived == 'metaSelect' }">
            <div v-on:click="closeModal" class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">물질 선택하기</p>
                <button v-on:click="closeModal" class="delete" aria-label="close"></button>
              </header>
                <div class="modal-card-foot is-fullwidth is-mobile is-centered">
                  <div v-on:click="openTextSearchModal" class="card-footer-item meta-select-button" style="cursor: pointer;">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">텍스트로 검색</p>
                        </div>
                      </div>
                      <div class="content">
                        화학식, 이름, SMILES 등 텍스트를 바탕으로 화학 물질을 검색합니다. 
                      </div>
                    </div>
                  </div>
                  <div class="card-footer-item meta-select-button" style="cursor: pointer;">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4">그려서 검색</p>
                        </div>
                      </div>
                      <div class="content">
                        직접 그려서 화학 물질을 검색합니다.
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div id="meta-select-modal" class="modal" v-bind:class="{ 'is-active': modalActived == 'textSearch' }">
            <div v-on:click="closeModal" class="modal-background"></div>
            <div class="panel modal-card">
              <header class="panel-head modal-card-head">
                <p class="modal-card-title">텍스트로 검색</p>
                <button v-on:click="closeModal" class="delete" aria-label="close"></button>
              </header>
              <div class="panel-block modal-card-body">
                <p class="control has-icons-left">
                  <input v-model="keywordTextSearch" class="input" type="text" placeholder="H2O, Sodium hydroxide, Aspirin, CC(=O)NC1=CC=C(C=C1)O, ...">
                  <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
              <div v-for="(searchResult, index) in resultTextSearch" class="panel-block modal-card-body">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img v-bind:src="'https://pubchem.ncbi.nlm.nih.gov/image/imgsrv.fcgi?cid=' + searchResult.cid + '&t=s'" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-5">{{ searchResult.cmpdname }} (<span v-html="formatMolecularFormula(searchResult.mf)"></span>)</p>
                    <p class="subtitle is-6"><strong>M<sub>w</sub>:</strong> {{ searchResult.mw }} g/mol</p>
                  </div>
                  
                </div>
                <button v-on:click="addSubstanceFromTextSearch(index)" class="button is-rounded is-primary" style="margin-left: auto">
                  선택
                </button>
                <!--< href="">
                <span>{{cmpdsynonym.slice(0, 64).split('|').slice(0, -1).join('; ') + "; ..."}}</span>-->
              </div>
              <div v-if="isNoResultTextSearch" class="panel-block modal-card-body justify-content-center">
                <span class="is-italic py-2 has-text-grey">검색 결과가 없습니다</span>
              </div>
              <div v-if="isRunningTextSearch" class="panel-block modal-card-body justify-content-center">
                <span class="is-italic py-2 has-text-grey">검색 중입니다...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container is-fluid">
          <div class="notification has-text-centered has-background-white">
            <a href="http://djshs.djsch.kr">DSHS</a> AI Hackathon Submission
              <span class="split"></span>
            Made by <a href="https://kjsman.me">Jinseo Kim</a> with ❤️
          </div>
        </div>
      </div>
    </section>
    <script src="/js/helpers.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>